@model IEnumerable<BlogUsingEF.Models.ArticleView>

@{
    ViewBag.Title = "DetailsArticle";
}

<table class="table">
@foreach (var item in Model)
        {
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.DataPublish)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.DataPublish)
        </td>
    </tr>
    <tr>
        <td colspan="4" align="justify">
           
               @Html.DisplayFor(modelItem => item.Text) 
        </td>
    </tr>
    <tr>
        <td colspan="4">
            @if (item.Tags.Length != 0)
            {
                string[] tags = item.Tags.Split('#');
                foreach (string tag in tags)
                {
                    if (tag.Trim() != "")
                    {
                        @Html.ActionLink(" #" + @tag + " ", "SearchForTag", new { tag = tag })
                    }
                }
            }
            else
            {
                @Html.DisplayFor(modelItem => item.Tags)
            }
        </td>
    </tr>
        <tr >
            <td colspan="3"  align="right">
                    @Html.ActionLink("Добавить комментариЙ", "AddComment", "Comment", new { id = item.Id }, null)
           </td>
            <td colspan="4" align="right">
                @Html.ActionLink("Посмотреть комментарии", "ViewComment", "Comment", new { id = item.Id }, null)
            </td>
        </tr>
}

</table>
